.content {
    display: grid;
    grid-template-areas: "time-box"
                        "search-city"
                        "city-list";
    grid-template-rows: 10rem 1fr 2fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }