@use "../../index.scss";

@include index.keyframes(colorChange){
    0% {
        color: index.$text-color;
        border-color: index.$border-color;
    }
    100% {
        color: index.$text-alt-color;
        border-color: index.$text-alt-color;
    }
}

.time-box {
    display: grid;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    width: 15rem;
    border: 2px solid index.$border-color;
    background-color: index.$transparent-bg-color;
    color: index.$text-color;
    border-radius: 1rem;
    align-content: center;
    @include index.animate(colorChange, 1s, linear, infinite, alternate);
}