@use "../../index.scss";

.city-list {
    grid-area: city-list;
    background-color: index.$transparent-bg-color;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 1rem;
    max-height: 30rem;
    width: 96%;
    border: 3px solid index.$border-color;
    border-right: none;
    justify-self: center;
    margin-top: 2rem;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: index.$transparent-bg-color;
    }
    &::-webkit-scrollbar-thumb {
        background: index.$border-color;
        border-radius: 1rem;
        &:hover {
            background: index.$scroll-hover-color;
        }
    }
}